body{
    width: 100%;
    height: 100vh;
    margin: 0 /*gets rid of default horizontal scroll bar*/;
    background-color: #1B1B32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}
label{
    display:block; /*Labels are in line by defauls*/
    margin: 0.5rem 0; /*rem is root em and is relative to font size of the html*/
}
h1,p{
    margin: 1em auto;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}
fieldset{
    border: none;
    padding:2ren 0;
    border-bottom: 3px solid #3b3b4f;
}
/*las of type selects the last element of type specified.*/
fieldset:last-of-type{ 
    border-bottom: none;
}
input,textarea,select{
    margin-top:10px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    width:100%;
    min-height: 2em;
}
.inline{
    width:unset; /*removes the width set earlier of 100*/
    margin-right:0.5em;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    vertical-align: middle; /*required as inline properties appear too high*/
}
/*Blend the input and text area with the backgroud*/
input,textarea{
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color:#ffffff;
    
}
/*target the submut button - different way of selecting an element*/
input[type="submit"]{
    display:block;
    width:60%;
    margin:1em auto;
    min-width: 300px;
    height:2em;
    font-size:1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}

input[type="file"]{
    padding:1px 2px;
}
a {
    color:#dfdfe2;
}
